In [1]:
#syntax
# lambda arguments : expression

In [2]:
#ex
#normal way
def square(x):
    return x**2
result=square(2)
print(result)

4

In [4]:
def square(x,y):
    print(x**2)
    print(y**2)
square(3,5)

9
25

In [13]:
#lambda fun

square=lambda x:x**2 
square(5)

25

In [14]:
#ex
def add(x,y,z):
    return x+y+z
add(1,2,3)

6

In [17]:
add=lambda x,y,z=10:x+y+z  #default value
add(69,55)

134

In [18]:
#MAP FUNCTION

In [19]:
#syntax
#  map(function,sequence)

In [8]:
my_num=[1,2,3,4,5]
#def square(num):
   # return num**2

for num in map(square,my_num)
print(num)
list2=list(map(square,my_num))
list2

SyntaxError: invalid syntax (<ipython-input-8-1ecefd867f16>, line 5)

In [9]:
my_num=[1,2,3,4,5]

In [10]:
my_num

[1, 2, 3, 4, 5]

In [11]:
def square(num):
    return num**2

In [12]:
map(square,my_num)

In [16]:
for num in map(square,my_num):
    print(num)

1
4
9
16
25

In [4]:
list1=[3,5,7,9]
list1

[3, 5, 7, 9]

In [5]:
def add(x):
    return x+x

In [19]:
#for x in map(add,list1):
 #   print(x)

6
10
14
18

In [6]:
list2=list(map(add,list1))
list2

[6, 10, 14, 18]

In [11]:
my_num1=[2,3,4,5,6,7,8,9]

my_num1

[2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
def even_odd(num1):
    if(num1%2==0):
        return 'even'
    else:
        return 'odd'

In [15]:
for num1 in map(even_odd,my_num1):
    print(num1)

even
odd
even
odd
even
odd
even
odd

In [16]:
list4=list(map(even_odd,my_num1))
list4

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [17]:
#filter function

In [ ]:
#syntax
#filter(function,sequence)

In [18]:
my_num1=[2,3,4,5,6,7,8,9]

my_num1

[2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
def even_odd(num1):
    if(num1%2==0):
        return 'even'
    else:
        return 'odd'

In [20]:
list4=list(filter(even_odd,my_num1))
list4

[2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
#ex

word_list=["apple","mango","banana","ant","airport"]
word_list

['apple', 'mango', 'banana', 'ant', 'airport']

In [27]:
def start_with_a(x):
    if x[0]=='a':
        return True
    else:
        return False

In [28]:
word=list(filter(start_with_a,word_list))
print(word)

['apple', 'ant', 'airport']

In [29]:
#using map() and filter() with lambda

In [32]:
my_list=[1,2,3,4,5,6,7]
def square(num):
    return num**2
#square=lambda num:num**2

In [33]:
list(map(lambda num:num**2,my_list))

[1, 4, 9, 16, 25, 36, 49]

In [36]:
list(filter(lambda num:num%2==0,my_list))

[2, 4, 6]

In [37]:
list(map(lambda num:num+num,my_list))

[2, 4, 6, 8, 10, 12, 14]

In [38]:
list(filter(lambda num:num+num,my_list))

[1, 2, 3, 4, 5, 6, 7]

In [40]:
#ex
def my_fun(n):
    return lambda a:a*n
my_trip=my_fun(3)
print(my_trip(11))

33

In [42]:
def my_fun(n):
    return lambda a:a*n
my_doub=my_fun(2)
my_trip=my_fun(3)
print(my_doub(9))
print(my_trip(11))

18
33

In [43]:
def list1(a):
    return a
list1(3)

3

In [45]:
list1=lambda a:a
list1(4)

4

In [54]:
#ex

dict_1={"name":"ranju","course":"data analyt"}
#def dict2(x):
 #   return x["name"]="pragnya"
map(lambda x:x["name"]=="ranju",dict_1)
print(dict_1)

{'name': 'ranju', 'course': 'data analyt'}