In [1]:
# Task 6

In [2]:
#add and remove the elements from a tuple.

In [3]:
tup1=(1,4,5,6,"nikhil","mango","rose")
tup1

(1, 4, 5, 6, 'nikhil', 'mango', 'rose')

In [4]:
list1=list(tup1)

In [5]:
list1

[1, 4, 5, 6, 'nikhil', 'mango', 'rose']

In [6]:
list1.append("tiger")
list1

[1, 4, 5, 6, 'nikhil', 'mango', 'rose', 'tiger']

In [7]:
tup1=tuple(list1)
tup1

(1, 4, 5, 6, 'nikhil', 'mango', 'rose', 'tiger')

In [8]:
list1

[1, 4, 5, 6, 'nikhil', 'mango', 'rose', 'tiger']

In [9]:
list1.remove("tiger")
list1

[1, 4, 5, 6, 'nikhil', 'mango', 'rose']

In [10]:
tup1=tuple(list1)

In [11]:
tup1

(1, 4, 5, 6, 'nikhil', 'mango', 'rose')

In [17]:
tup1=(1,4,5,6,"nikhil","mango","rose")
list1=list(tup1)
list1.append("tiger")
tup1=tuple(list1)
print(tup1)
list1.remove("tiger")
tup1=tuple(list1)
print(tup1)

(1, 4, 5, 6, 'nikhil', 'mango', 'rose', 'tiger')
(1, 4, 5, 6, 'nikhil', 'mango', 'rose')

In [2]:
tup3=(100,200,400,600,800,300,100)
tup3

(100, 200, 400, 600, 800, 300, 100)

In [5]:
#count()

tup=tup3.count(100)
tup

2

In [7]:
X=("a","g","g","h","p","a")
Y=X.count("g")
Y

2

In [8]:
#max() min()

print(max(X))

p

In [9]:
print(min(X))

a

In [10]:
print(max(tup3))

800

In [11]:
print(min(tup3))

100

In [17]:
#sorted()

z=sorted(tup3)
z

[100, 100, 200, 300, 400, 600, 800]

In [18]:
A=sorted(X)
A

['a', 'a', 'g', 'g', 'h', 'p']

In [29]:
list1=(1,2,3,4)
list2=(1,3,2,4)
print cmp(list1,list2)

SyntaxError: invalid syntax (<ipython-input-29-8b0bf1cca6c6>, line 3)

In [35]:
tuple1,tuple2=(123,'xyz'),(456,'abc')
print cmp(tuple1,tuple2)
print cmp(tuple2,tuple1)
tuple3=tuple2+(786,);
print cmp(tuple2,tuple3)

SyntaxError: invalid syntax (<ipython-input-35-5226d5709ae1>, line 2)

In [36]:
a=1
b=2
print(cmp(a,b))

NameError: name 'cmp' is not defined